backend:
  name: github
  branch: master
  repo: sixian-edu/sixian-edu
  auth_type: pkce
  app_id: Ov23liDoCAm6hYZNxKYH

site_url: "https://sixian-edu.github.io/sixian-edu"
media_folder: "images/uploads"

collections:
  - name: "pages"
    label: "页面"
    files:
      - name: "ziliao"
        label: "资料库"
        file: "资料库.html"
        fields:
          - { label: "内容", name: "body", widget: "text" }
